@import '~antd/dist/antd.css';

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.ant-layout-content{
    padding: 0 0 0 0;
    margin-top: 4rem;
    display: flex;
    height: 90vh;
    overflow-y: hidden;
    background: #FFFFFF;
}

.title {
    font-weight: bold;
    text-align: center;
}

.sub-title {
    text-align: center;
    font-size: smaller;
    margin-top: -1rem;
}

.bg{
    background-image: url("../../assets/bg.png");
    width: 61vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    width: 40vw;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 11rem;
    /* padding-bottom: 7rem; */
    flex: 1;
}

.login-form {
  max-width: 300px;
  
}
.login-form-forgot {
  float: right;
  font-weight: bold;
  color: #1E2022;
}
.ant-col-rtl .login-form-forgot {
  float: left;
  font-weight: bold;
}
.login-form-button {
  width: 100%;
}

@media only screen and (max-width: 600px) {
    .bg{
        display: none;
        width: 0vw;
    }
    .form{
        width: 100vw;
    }
    .login-form {
  max-width: 300px;
  
}
.login-form-forgot {
  float: right;
  font-weight: bold;
  color: #1E2022;
}
.ant-col-rtl .login-form-forgot {
  float: left;
  font-weight: bold;
}
.login-form-button {
  width: 100%;
}
}